
/* Definiert neue font-family „RailwayRegular“ nach den angegebenen Dateien */
@font-face { 
    font-family: 'RailwayRegular';
    src: url('../font/railway-webfont.eot');
    src: url('../font/railway-webfont.eot?#iefix') format('embedded-opentype'), 
         url('../font/railway-webfont.woff') format('woff'),
         url('../font/railway-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
	text-decoration: inherit;
	color:inherit;
}

img {
	vertical-align: middle;	
}

#main a {
	border-bottom: 2pt dotted;
}

#main a:hover {
	border-bottom: 2pt solid;
}


#everything {
	font-family: RailwayRegular, sans-serif;
	width:900px;
	margin: auto;
	padding: 3px;
	min-height: 800px;
}

#topnav {
	width: 100%;
	font-size: 10pt;

	display: -webkit-flex;
	-webkit-flex-direction: row;

	display: flex;
	flex-direction: row;

	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}

#topnav .navitem {
	padding: 4px 6px;
	background-color: black;
	color: white;
	margin: 0px 3px;
	border-radius: 6px;
}

#topnav .navitem:hover {
	background-color: #606060;
}

h1 {
	font-size: 400%;
	font-weight: bold;
	letter-spacing: 0.1em;

	margin-left: 116px;
}

#main {
	/*display: -webkit-flex;
	-webkit-flex-direction: row;

	display: flex;
	flex-direction: row;*/
}

#main_points {
	padding-right:5px;
	float:left;
}

.pointsbox {
	width: 100px;
	border: solid black 3px;
	border-radius: 8px;
	padding: 2px 5px;
	margin-bottom: 5px;
}

.points_text {
	font-size: 90%;
}

.points_points {
	font-size: 300%;
	font-weight: bolder;
	margin: 2px;
	text-align: right;
}

#main_question {
	margin-left: 125px;
	border: solid black 3px;
	border-radius: 8px;
	padding: 5px;
	flex-grow: 1;
}

#main_text {
	margin-left: 125px;
	border: solid black 3px;
	border-radius: 8px;
	padding: 5px;
	flex-grow: 1;
}

.teaser {
	font-size: 56pt;
	padding: 1px;
}

.teaser_small {
	font-size: 32pt;
	padding: 1px;
}

.footnote {
	font-size: 8pt;
	text-align: right;
}

#question {
	font-size: 250%;
	font-weight: lighter;
	text-align: center;
	margin: 0.7em 0.2em;
}

#answerbox_bool {

	display: -webkit-flex;
	-webkit-flex-direction: row;

	display: flex;
	flex-direction: row;

	flex-wrap:wrap;

	margin:auto;
}

.answer_container {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	min-width: 50%;
}

.answer {
	font-size: 230%;
	padding: 10px;
	border: dashed 3px black;
	border-radius: 8px;
	margin: 4px;
	height: 60px;
	flex-grow: 1; 
	flex-shrink: 1;
	padding-right: 40px;

	display: -webkit-flex;
	-webkit-flex-direction: row;

	display: flex;
	flex-direction: row;

	align-items: center;
}

.answer_char {
	box-sizing: border-box;
	width: 50px;
	min-width: 50px;
	max-width: 50px;
	height: 50px;
	min-height: 50px;
	border-radius: 50%;
	background-color: black;
	color: white;
	font-size: 100%;
	text-align:center;
	float:left;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.answer_text {
	padding-left: 5px;
}

.answer.chooseable:hover {
	border: solid;
	background-color: #606060;
	cursor: pointer;
}

.answer.chooseable:hover .answer_text {
    text-shadow: 0 0 0.6em #FFFFFF, 0 0 0.6em #FFFFFF, 0 0 0.6em #FFFFFF;

}

.right {
	background-color: #33cc33;
}

.wrong {
	background-color: #cc0000;
}

.alsoright {
	background-color: #70cc70;
}

.banner {
	display:none;
	text-align: center;
	font-size: 500%;
	margin: 0.1em;
	font-variant: small-caps;
}

#banner_right {
	color:#33cc33;
}

#banner_wrong {
	color: #cc0000;
}

#button_next {
	text-align: center;
	cursor: pointer;
	display: none;
}

#button_next span {
	font-size: 150%;
	padding: 10px;
	background-color: black;
	color: white;
	border-radius: 6px;
}

#button_next:hover span {
	background-color: #606060;
    text-shadow: 0 0 0.8em #000000, 0 0 0.8em #000000, 0 0 0.8em #000000;

}
